files/*
!files/.htaccess
!files/cache/.htaccess
!files/downloads/files/index.php
!files/downloads/screen/index.php
!files/forum/attach/index.php
!files/forum/topics/index.php
!files/library/images/big/.gitkeep
!files/library/images/orig/.gitkeep
!files/library/images/small/.gitkeep
!files/library/tmp/.gitkeep
!files/mail/index.php
!files/users/album/index.php
!files/users/avatar/index.php
!files/users/photo/index.php

system/vendor
system/config/autoload/*.local.php

dist
distributive
node_modules
