uploads/downloads/files/*
!uploads/downloads/files/index.php
uploads/downloads/screen/*
!uploads/downloads/screen/index.php
uploads/forum/attach/*
!uploads/forum/attach/index.php
uploads/library/images/big/*
!uploads/library/images/big/index.php
uploads/library/images/orig/*
!uploads/library/images/orig/index.php
uploads/library/images/small/*
!uploads/library/images/small/index.php
uploads/library/tmp/*
!uploads/library/tmp/index.php
uploads/mail/*
!uploads/mail/index.php
uploads/users/album/*
!uploads/users/album/index.php
uploads/users/avatar/*
!uploads/users/avatar/index.php
uploads/users/photo/*
!uploads/users/photo/index.php

system/cache/*
!system/cache/.gitkeep
system/logs/*
!system/logs/.gitkeep
system/config/autoload/*.local.php
system/mobicms-classic-core
system/vendor

dist
distributive
node_modules
