uploads/*
!uploads/index.php
!uploads/.htaccess
!uploads/downloads/index.php
!uploads/downloads/files/index.php
!uploads/downloads/screen/index.php
!uploads/forum/index.php
!uploads/forum/attach/index.php
!uploads/forum/topics/index.php
!uploads/library/index.php
!uploads/library/images/index.php
!uploads/library/images/big/index.php
!uploads/library/images/orig/index.php
!uploads/library/images/small/index.php
!uploads/library/tmp/index.php
!uploads/mail/index.php
!uploads/users/index.php
!uploads/users/album/index.php
!uploads/users/avatar/index.php
!uploads/users/photo/index.php

system/cache/*
!system/cache/.gitkeep
system/logs/*
!system/logs/.gitkeep
system/vendor
system/config/autoload/*.local.php

dist
distributive
node_modules
